[submodule "PEGTL"]
	path = PEGTL
	url = https://github.com/taocpp/PEGTL
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "WavFileReader"]
	path = WavFileReader
	url = https://github.com/KojiroSakado/WavFileReader
